body, html {
  height: 100%;
}
.jumbotron {
    margin-top: -20px;
}

.navbar {
    border-radius: 0;
}

.box {
    margin: 0 auto;
    width: 500px;
    background-color: rgb(245, 245, 245);;
    padding: 20px;
}

.box .form-control {
    margin: 10px 0;
    height: 65px;
    font-size: 20px;
}

.box .btn {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px
}

.box .forgot-password {
    margin: 20px 0;
    font-size: 20px;
}

.box .input-group {
    width: 100%;
}

.box.center {
    text-align: center;
}

.box.center .btn {
    margin: 40px auto;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

#footer, .push {
    height: 50px;
    text-align: center;
}
