{% load cryptoparty_tags i18n sekizai_tags staticfiles %}

{% addtoblock 'css' %}
  <style>
    #description-edit {
      width: 100%;
      height: 300px;
      border: 1px solid #eee;
      resize: vertical;
    }

    input[type="text"] {
      width: 100% !important;
    }

    .input-group {
      width: 100% !important;
    }

    #public-status {

      padding: 5px;
      margin-bottom: 5px;

      background-color: red;
    }

    #public-status.public {
      background-color: lightgreen;

    }
  </style>
{% endaddtoblock %}

<div class="col-md-8">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 10px">
      <li role="presentation" class="active">
        <a href="#preview-tab" role="tab" data-toggle="tab">Preview</a>
      </li>
      <li role="presentation">
        <a href="#edit-tab" role="tab" data-toggle="tab">Edit</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="preview-tab">
        <div id="preview">
          {{ party.description|markup|safe }}
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="edit-tab">
        <textarea id="description-edit">{{ party.description }}</textarea>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4">

  <div id="public-status" {% if party.public %}class="public"{% endif %}>
    <span id="public-status-text">
      {% if party.public %}
        {% trans 'Public' %}
      {% else %}
        {% trans 'Not public' %}
      {% endif %}
    </span>

    <button id="toggle-public" class="pull-right">
      {% if party.public %}
        {% trans 'Hide from public' %}
      {% else %}
        {% trans 'Make public' %}
      {% endif %}
    </button>
    <span class="clearfix"></span>
  </div>

  <hr/>

  <p>{% trans 'Key (for edit access)' %}:</p>

  <p>
    <a href="
      {{ request.META.HTTP_HOST }}{% url 'parties:party-detail' party.slug %}?key={{ party.key }}">
      {{ party.key }}
    </a>
  </p>

  <div class="form-group">
    <div class='input-group'>
      <input type="text"
             id="party-title"
             value="{{ party.title }}"/>
    </div>
  </div>

  <div class="form-group">
    <div class='input-group date' id='datetimepicker1'>
      <input type='text'
             class="form-control"
             id="party-when"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar">
          </span>
        </span>
    </div>
  </div>

  <div class="form-group">
    <div class='input-group'>
      <input type="text"
             id="party-venue"
             value="{{ party.venue }}"
             placeholder="{% trans 'Venue' %}"/>
    </div>
  </div>

  <div class="form-group">
    <div class='input-group'>
      <input type="text"
             id="party-address"
             value="{{ party.address }}"
             placeholder="{% trans 'Address' %}"/>
    </div>
  </div>

  <div class="form-group">
    <div class='input-group'>
      <div class="form-group">
        <input type="text"
               id="party-city"
               value="{{ party.city }}"
               placeholder="{% trans 'City' %}"/>
      </div>
    </div>

    <div class="form-group">
      <div class='input-group'>
        <input type="text"
               id="party-postal-code"
               value="{% if party.postal_code %}{{ party.postal_code }}{% endif %}"
               placeholder="{% trans 'Postal code' %}"/>
      </div>
    </div>

    <div class="form-group">
      <div class='input-group'>
        <input type="text"
               id="party-creator-email"
               value="{{ party.creator_email }}"
               placeholder="{% trans 'Contact email' %}"/>
      </div>
    </div>

    <button id="submit-button">{% trans 'Save' %}</button>
  <span class="pull-right">
    {% trans 'Last update' %}:
    <span id='last-update'>{{ party.updated_at|date:'Y-m-d H:i' }}</span>
  </span>

  </div>

  {% addtoblock 'js' %}
    <script>
      var $last_update = $('#last-update');
      var $public_status = $('#public-status');
      var $preview = $('#preview');

      $('#submit-button').click(function () {
        var description = $('textarea#description-edit').val();
        var title = $('#party-title').val();
        var when = $('#party-when').val();
        var venue = $('#party-venue').val();
        var address = $('#party-address').val();
        var city = $('#party-city').val();
        var postal_code = parseInt($('#party-postal-code').val());

        postal_code = (postal_code == 'NaN') ? postal_code : '';

        var creator_email = $('#party-creator-email').val();

        $.post(
          '{% url 'parties:party-ajax-update' party.id %}',
          {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'key': '{{ party.key }}',
            'description': description,
            'title': title,
            'when': when,
            'venue': venue,
            'address': address,
            'city': city,
            'postal_code': postal_code,
            'creator_email': creator_email
          },
          function (response_data) {
            var data = JSON.parse(response_data);
            $preview.html(data.description);
            $last_update.html(data.updated_at);
          }
        );
      });
      $('#toggle-public').click(function () {
        var $this = $(this);
        $.post(
          '{% url 'parties:party-ajax-update' party.id %}',
          {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'key': '{{ party.key }}',
            'public': 'toggle'
          },
          function (response_data) {
            var data = JSON.parse(response_data);
            if (data.public == true) {
              $public_status.addClass('public').find('#public-status-text').html("{% trans 'Public' %}");
              $this.html("{% trans 'Hide from public' %}");
            } else {
              $public_status.removeClass('public').find('#public-status-text').html("{% trans 'Not public' %}");
              $this.html("{% trans 'Make public' %}")
            }
            $last_update.html(data.updated_at);
          }
        );
      });
    </script>
  {% endaddtoblock %}

{% include '_bootstrap_datetimepicker.html' with element='#datetimepicker1' default=party.when|date:'Y-m-d H:i' %}