{% extends 'base.html' %}
{% load sekizai_tags i18n %}

{% block content %}

<form action="" method="post" class="form">{% csrf_token %}
  {% include "_form_field.html" with field=form.title %}
  {% include "_form_field.html" with field=form.description %}
  {% include "_form_field.html" with field=form.when datetime=True %}
  {% include "_form_field.html" with field=form.venue %}
  {% include "_form_field.html" with field=form.address %}
  {% include "_form_field.html" with field=form.city %}
  {% include "_form_field.html" with field=form.postal_code %}
  {% include "_form_field.html" with field=form.public %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
