{% extends 'base.html' %}
{% load sekizai_tags i18n %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <h1>Cryptoparty.dk - Dit privatliv starter her</h1>
    <p>
      Et Cryptoparty er en begivenhed hvor borgere lærer hinanden omkring sikring af deres privatliv og kommunikation på internettet.<br />
      På disse sider kan du se hvilke Cryptoparties der er rundt omkring i Danmark. Du kan også starte dit eget!
    </p>
  </div>
</div>


{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'parties:party-create' %}">
      <i class="glyphicon glyphicon-bullhorn"></i>
      Opret Cryptoparty
    </a>
  {% endif %}

  <div class="row">
    <div class="col-md-12" id="list-wrapper">

      <h2>{% trans 'Upcoming parties' %}:</h2>
      {% if upcoming_parties %}
        {% include 'parties/_party_list_table.html' with parties=upcoming_parties %}
      {% else %}
        <h3>
        {% trans 'There are no upcoming parties!' %}
          {% if user.is_authenticated %}
            <a href="{% url 'parties:party-create' %}">
              {% trans 'Start one?' %}
            </a>
          {% endif %}
        </h3>
      {% endif %}

        <hr />

      {% if past_parties %}
        <h4>{% trans 'Past parties' %}:</h4>
        {% include 'parties/_party_list_table.html' with parties=past_parties %}
      {% endif %}

    </div>
  </div>

{% endblock %}
