{% extends 'base.html' %}
{% load parties_tags i18n %}

{% block content %}
  <h2>{{ party.title }}</h2>

  <hr />

  <div class="row">
    <div class="col-md-8">
      {{ party.description|markup|safe }}
    </div>

    <div class="col-md-4">
      <h3>{{ party.start }}</h3>
      <h3>{{ party.venue.name }}</h3>
      <h3>{{ party.venue.address }}</h3>
      {% if user in party.organizers.all %}
        <a href="{% url 'parties:party-edit' party.slug %}">Edit</a>
      {% endif %}
    </div>
  </div>

{% endblock %}
