{% extends 'base.html' %}

{% block content %}

  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Cryptoparty København</h1>
        <p>
          <a href="http://bitbureauet.dk">Bitbureauet</a> og
          <a href="http://prosa.dk/">PROSA</a> takker for et yderst vellykket
          Cryptoparty d. 28. januar 2015.
        </p>
        <p>
          Det er bestemt ikke sidste gang det afholdes.
        </p>
        <p>
          Mere info følger.
        </p>
      </div>
    </div>
  </section>

{% endblock %}